* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Regular';
  margin: 0;
  background: #E5E5E5;

}

a {
  text-decoration: none;
}

hr {
  margin: 0;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}