.brand {
  &__page {
    margin: 100px 0 80px;
    @include mobile {
      margin: 50px 0 40px;
    }
  }
  &__wrapper{
    border: 0.5px solid #EFEFEF;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    @include mobile {
      width: 70%;
      margin: 0 auto;
    }
  }
  &__item{
    width: 25%;
    border: 0.5px solid #EFEFEF;
    background: #fff;
    padding: 35px 60px;
    @include mobile {
      width: 50%;
      padding: 15px;
      text-align: center;
    }
    @include tablet {
      width: 33.3%;
      padding: 15px;
      text-align: center;
    }
    img {
      width: 100%;
      @include mobile {
        width: 50%;
      }
      @include tablet {
        width: 80%;
      }
    }
  }
}