.btn {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  @include mobile {
    font-size: 12px;
  }
  @include tablet {
    font-size: 13px;
  }


  &_call {
    border: 2px solid #f13c6e;
    border-radius: 40px;
    background: #fff;
    padding: 12px 27px;
    
    &:hover {
      background: #f13c6e;
      color:#fff;
      transition: 0.5s;
    }
  }

  &_primary {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    color: #fff;
    padding: 12px 27px;
    letter-spacing: 0.05em;
    @include mobile {
      padding: 8px 15px;
    }
    &:hover {
      color: #f13c6e;
      background-color: #fff;
      transition:0.5s;}
  }

  &_buy {
    color: #fff;
    background: #F13C6E;
    border: 2px solid #f13c6e;
    border-radius: 30px;
    padding: 9px 40px;

    &:hover {
      color: #f13c6e;
      background-color: #fff;
      transition:0.5s;}

  }

}
