.card-block {
  background: #f13c6e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 35px 45px 35px 40px;
  height: 212px;
  width: 50%;
  &:first-child {
    @include desktop {
      margin-right: 30px;
    }
    @include mobile {
      margin-bottom: 30px;
    }
    @include tablet {
      margin-bottom: 30px;
    }
  }
  @include tablet {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
  @include mobile {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content:  center;
  }

  &__info {
    @include mobile {
      text-align: center;
    }
     @include tablet {
       text-align: center;
     }
    }
  &__title {
    font-family: 'Roboto Bold';
    font-size: 18px;
    line-height: 21px;
  }
  &__description {
    font-size: 14px;
    line-height: 20px;
    margin: 25px 0;

  }
  &__input {
    outline: none;
    border-radius: 30px;
    background: #fff;
    padding: 9px 25px;
    border: none;
    }
  &__img {
    @include mobile {
      margin-top: 20px;
    }
    @include tablet {
      margin-top: 15px;
    }
  }
}


