.container {

  margin: 0 auto;

  @include desktop {
    width: 1110px;
  }
  @include  sm-desktop {
    width: 968px;
  }

  @include tablet {
    width: 768px;
  }

  @include mobile {
    width: 100%;
    padding: 0 15px;
  }
}