@font-face {
  font-family: 'Roboto Regular';
  src: url('../../public/fonts/Roboto-Regular.woff2') format('woff2'),
  url('../../public/fonts/Roboto-Regular.woff') format('woff'),
  url('../../public/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('../../public/fonts/Roboto-Bold.woff2') format('woff2'),
  url('../../public/fonts/Roboto-Bold.woff') format('woff'),
  url('../../public/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}