.footer {
  background: #fff;
  &__nav {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile {
      flex-wrap: wrap;
      padding-top: 30px;
    }
    @include tablet {
      flex-wrap: wrap;
      padding-top: 30px;
    }
  }
  &__underline {
    height: 1px;
    background: #efefef;
    margin: 60px 0 37px;
    @include mobile {
      margin:  30px 0 18px;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 38px;
    @include mobile {
      padding-bottom: 19px;
      flex-direction: column;
    }
    @include tablet {
      flex-direction: column;
      padding-bottom: 20px;
    }
  }
  &__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__address {
    font-size: 14px;
    line-height: 16px;
    color: #000;
    &:hover {
     color:#6e6666;
      transition: 0.5s;
    }
    @include mobile {
      font-size: 12px;
      line-height: 14px;
      margin: 20px 0;
    }
    @include tablet {
      font-size: 14px;
      line-height: 16px;
      margin: 20px 0;
    }
  }
  &__copyright {
    background: #efefef;
    @include mobile {
      text-align: center;
    }
  }
  &__copyright-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    @include mobile {
      padding: 12px;
      flex-direction: column;
    }
    @include tablet {
      padding: 14px;
      flex-direction: column;
    }
  }
  &__laws {
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    @include mobile {
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 10px;
    }
    @include tablet {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 12px;
    }
  }
  &__politic {
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    transition: 0.5s;
    &:hover {
      color: #f13c6e;
    }
    @include mobile {
      font-size: 10px;
      line-height: 12px;
    }
    @include tablet {
      font-size: 14px;
      line-height: 16px;
    }
  }
  &__contact {
    @include mobile {
      margin-bottom: 20px;
    }
    @include tablet {
      margin-bottom: 20px;
    }
  }
}