.footer-menu {
  width: 25%;
  @include desktop{
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  @include mobile {
    text-align: center;
    width: 50%;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  @include tablet {
    text-align: center;
    width: 50%;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  &__title {
    font-size: 16px;
    line-height: 140.62%;
    color: #000;
    width: 50%;
    @include mobile {
      font-size: 14px;
      width: 100%;
    }
    @include tablet {
      text-align: center;
      width: 100%;
      font-size: 17px;
    }
    }

  &__hr {
    height: 1px;
    background: #efefef;
    margin: 30px 0;
    @include mobile {
      margin:  15px 0;
    }

  }
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__link {
    font-size: 12px;
    line-height: 28px;
    color: #828282;
    &:hover {
      color:#f13c6e;
      transition: 0.75s;
    }
    @include mobile {
      font-size: 10px;
      line-height: 20px;
    }
    @include tablet {
      font-size: 14px;
      line-height: 24px;
    }
  }
}