.header {
  background: #fff;

  &__nav {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content:  space-between;
    @include tablet {
      flex-direction: column;
      justify-content:center;
    }
    @include mobile {
      flex-direction: column;
      justify-content:center;
    }
  }

  &__underline {
    height: 1px;
    background: #efefef;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content:  center;
    padding: 30px 0;

    @include mobile {
      flex-direction: column;
      padding: 15px 0;
    }
  }

  &__link {
    margin-right: 40px;
    color: #000;
    font-size: 16px;
    line-height: 19px;
    @include mobile {
      margin: 10px 0 ;
    }

    &:hover {
      color:#f13c6e;
      transition: 0.75s;

    }

    &:last-child {
      @include desktop {
        margin: 0;
      }

    }
  }
  
  &__content {
    background: url(../../public/images/header/header-bg.jpg) center center no-repeat;
    padding: 192px 0;
    color: #fff;
    background-size: cover;
    @include mobile {
      padding: 55px 0;

    }
  }
  &__content-wrapper {
    width: 30%;
    @include tablet {
      width: 49%;
      padding-left: 15px;
    }
    @include mobile {
      width: 50%;
    }
  }

  &__title {
    font-family: 'Roboto Bold';
    font-size: 48px;
    line-height: 56px;
    @include tablet {
      font-size: 42px;
      line-height: 50px;
    }
    @include mobile {
      font-size: 24px;
      line-height: 26px;
    }
  }


  &__description {
    font-size: 14px;
    line-height: 20px;
    margin: 94px 0 90px;
    @include mobile {
      margin: 20px 0;
      font-size: 12px;
    }
  }

  &__search-form {
    @include tablet {
      margin: 20px 0;
    }
    @include mobile {
      margin: 20px 0;
    }
  }
  &__contact {
    @include tablet {
      margin-bottom: 20px;
    }
    @include mobile {
      margin-bottom: 20px;
    }
  }
}

