.image {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f13c6e;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 20px;
  font-size: 24px;
  color: #f13c6e;
  transition: 0.75s;
  &:hover {
    color: #fff;
    background: #f13c6e;

  }
  &:last-child {
    margin-right: 0;
  }
}