.logo {
  display: flex;
  align-items: center;


 &__name {
   font-family: "Roboto Bold";
   font-size: 36px;
   line-height: 42px;
   letter-spacing: 0.1em;
   color: #F13C6E;
   text-transform: uppercase;
   @include mobile {
     font-size: 30px;
     line-height: 35px;
   }


 }

 &__img  {
   margin-right: 20px;
   width: 100%;

 }

}
