
@mixin sm-desktop {
  @media (min-width: 1109px) and (max-width: 1126px){
    @content;
  }
}

@mixin tablet {
  @media (min-width: 800px) and (max-width: 1109px){
    @content;
  }
}

@mixin mobile {
  @media (max-width: 799px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1110px) {
    @content;
  }
}
