.navigation {
  background: #E5E5E5;
  &__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 0;
    @include mobile {
      padding: 14px 0;
    }
  }
  &__item{
    margin-right: 30px;
    color: #333;
    font-size: 14px;
    line-height: 16px;
    @include mobile{
      margin-right: 15px;
      font-size: 10px;
      line-height: 14px;
    }

    &:hover {
      color:#6e6666;

      transition: 0.5s;
    }

    &:last-child {
      margin: 0;
    }
  }
}