.products {
  &__page {
    margin: 80px 0 70px 0;
    @include mobile {
      margin: 40px 0 35px;
    }
  }
  &__page_history {
    margin-bottom: 50px;
  }

  &__title {
    margin-bottom: 38px;
    font-size: 24px;
    line-height: 28px;
    @include mobile {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 30px;
    }
  }

  &__wrapper {
    display: flex;
    @include desktop {
      flex-wrap: wrap;
    }
    @include mobile {
      flex-direction: column;
      align-items: center;
    }
    @include tablet {
      flex-wrap: wrap;;
      align-items: center;
      justify-content: space-between;
    }
  }
}



