.propose {
  background: #fff;
  margin-right: 30px;
  width: 255px;
  margin-bottom: 30px;
  @include tablet {
    width: 45%;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  @include mobile {
    width: 80%;
    margin-right: 0;
  }
  @include desktop {
    &:nth-child(4n) {
      margin-right: 0;
    }
  }


  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 30px 34px;
  }

  &__img {
  }
  &__description {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    margin: 20px 0;
  }
  &__price {
    font-family: 'Roboto Bold';
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 20px;

    color: #000000;
    &::after {
      margin-left: 5px;
      content: '₽';
    }
  }
}

