.search-form {
  background: #EFEFEF;
  border-radius: 40px;
  display: flex;
  padding: 10px 20px;
  width: 250px;
  max-width: 250px;
  @include mobile {
    width: 100%;
    max-width: 100%;
  }

  &__img {
    margin-right: 5px;
  }

  &__input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
  }

}